<!DOCTYPE html>
<head>
  <title>Integratr</title>
  <stylesheet src="/screen.css">
  <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" > 
</head>
<body>
  <%= yield %>
</body>
